:root {
  --ff: "Montserrat", sans-serif;
  --p: 18px/22px var(--ff);
  --p1: 24px/30px var(--ff);
  --colorbody: #fff;
  --colora: #537fe7;
  --colora2: #ffe537;
  --colorp: #1e1e1e;
  --colors: #f2f2f2;
  --shadow: #00000030 0px 0px 10px 0px;
  --transition: 0.3s ease-in-out;
}

body {
  font: var(--p);
  background-color: var(--colorbody);
  color: var(--colors);
  text-align: center;
  /* set the (external) margin of the body 100px on top and bottom and auto on left-right */
  /* set the (external) margin of the body 100px on top and bottom and auto on left-right */
  margin: 100px auto;
}

p,
.p1 {
  margin: 0;
}

.p1 {
  font: var(--p1);
}

.card,
.card1,
.card2,
.card3 {
  background-color: var(--colorp);
  border-radius: 12px;
  /* will the card itself span */
  flex: 1;
  /* display method of the content of card tp flexbox */
  display: flex;
  /* direction of the content of card */
  flex-direction: column;
  /* gap between the inner content of card */
  gap: 10px;
  /* align the content of card horizontally if flex-direction is column */
  align-items: center;
  /* align the content of card vertically if flex-direction is column */
  justify-content: center;
  transition: var(--transition);
}

.card3:hover,
.card2:hover,
.card1:hover,
.card:hover {
  scale: 1.02;
  box-shadow: var(--shadow);
}

.icons {
  height: 40px;
}

.icons2 {
  height: 32px;
}

.icons1 {
  height: 60px;
}

.logo-icon {
  width: 100px;
}

.flex-cards {
  width: 90%;
  max-width: 1080px;
  margin: 100px auto;
  display: flex;
  gap: 10px;
  /* allow the cards to wrap */
  flex-wrap: wrap;
}

.flex-cards>div {
  flex: 1;
}

.card {
  min-width: 160px;
  height: 165px;
}

.card1 {
  min-width: 330px;
  height: 340px;
}

.card2 {
  min-width: 330px;
  height: 80px;
  flex-direction: row;
}

.card3 {
  min-width: 330px;
  height: 165px;
}

.c1,
.c2,
.c3 {
  display: flex;
  gap: 10px;
  min-width: 330px;
  flex-wrap: wrap;
}